body {
  	padding-top: 56px;
  	/*padding-bottom: 12rem;*/
  	font-size: 14px;
  	background: #eeeeee;
}

header {
	font-size: 16px;
}


/****** Utilities ******/

.standard-link{
	text-decoration: none;
	color: #4285f4!important;
}

.red-link{
	text-decoration: none;
	color: #cd0000!important;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

/****** Search Results Styles ******/

#search-results-container {
	display:none;
    height: 100%; /* 100% Full-height */
    width: 400px; 
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0; /* Stay fixed to the right */
    background: #bababa;
    border-left: 1px solid #212529;
	opacity: 0.98;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll; /* allow vertical scroll */
    padding-top: 56px; /* Place content 56px from the top */
}

#praevium-search-content {
	display: none;
	position: absolute;
	background: #bababa;
	font-size: 14px;
	width: 100%;
	padding:5px;
	z-index: 1000; /*bring content up front*/
}


#praevium-search-content a {
	text-decoration: none;
	color: #0d5bdd!important;
}

/****** Snapshot Styles ******/

.snapshot-wrapper {
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid  #e2e2e2;
	padding: 10px;
	margin-bottom: 15px;
}

.added-snapshot-wrapper {
	background: #f0f9f2;
	border-radius: 5px;
	border: 1px solid  #e2e2e2;
	padding: 10px;
	margin-bottom: 15px;
}

.scroll-card {
    overflow-y: scroll;
}

.parameter-card {
	height: 100px;

}

.narrative-card {
	height: 100px;
}

/****** Run Portal Styles ******/

.portal	{
	/*min-width: 1280px;*/
	/*max-width: 1366px;*/
}

.sidebar-wrapper {
	position: fixed;
	top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #e3e3e3;
    width: 225px;
    min-height: calc(100vh - 66px);
}

.sidebar-wrapper a {
	text-decoration: none;
	color: #6c757d;
}

.sub-menu {
	font-size: 12px;
	background: #eeeeee;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e3e3e3;
}

.active-sidebar-link {
	color: #4285f4!important;
}

.inactive-sidebar-link {
	/*color: #cc0000!important;*/
	cursor: not-allowed;
  	opacity: 0.25;
}

.page-content-wrapper{
	padding-left: 245px;
	padding-right: 20px;
}

.page-content-header {
	color: #6c757d!important;
}

.run-portal-breadcrumb {
	background: none;
	margin-bottom: 0px;
	padding-left: 1px;
} 

.test-session-card {
	max-height: 275px;
}

.test-session-card-body {
	overflow-y: scroll;
}

/*Begin Mini Wafer grid*/
.mini-grid-card	{
	min-height: 240px;
	min-width: 300px;
}

#wafer-grid-mini {
	width: 240px;
	height: 240px;
}

.device-cell-mini {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #999;
    font-size: 7px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.black-cell-mini {
    float: left;
    width: 8px;
    height: 8px;
    background-color: black;
    display: table-cell;
    vertical-align:middle;
}

.mini-wg-tested {

	background-color:#009a00;

}

.mini-wg-red {

 	background-color:#b30000;

}

/*End Mini Wafer grid*/

#device-data-container {
	height: 100vh; /*set this to ensure smooth html loading by JS when loading device data*/
}

/****** Journal Styles ******/

.tag-link {
	text-decoration: none;
	color: #fff;
}

.journal-card-body {
	min-height: 100px;
}

/****** Login Styles ******/

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-signin input#email {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*Wafer Grid Styles*/
#wafer-grid {
	height: 571px;
	width: 571px;
	display: table;
	border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.device-cell {
	float: left;
	width: 19px;
	height: 19px;
	background-color: #999;
	font-size: 7px;
	color: black;
	text-align:center;
	display: table-cell;
	vertical-align:middle;
	border-top: 1px solid #333;
    border-left: 1px solid #333;
 }

.black-cell {
	float: left;
    width: 19px;
    height: 19px;
    background-color: black;
    display: table-cell;
    vertical-align:middle;
}

.wg-picked {
	background-color:#6e8898;

}

.device-count-badge {
	background-color: #343a40;
	/*background-image:
		    linear-gradient(
		      to right, 
		      #edf8b1, #023858
		    );*/
}
.above-count-badge {
	background-color: #e4572e;
}

.below-count-badge {
	background-color: #24b541;
}

div.linear-gradient {
		padding-bottom: 0;
		margin-bottom: 0;
		height: 1.5em;
		width: 100%;
		background-image:
		    linear-gradient(
		      to right, 
		      #edf8b1, #023858
		    );
}

/****** Reliability Styles ******/
.slot-icon-label {
  line-height: 1;
  position: absolute;
  text-align: left;
  width: 110%;
  left: -25px;
  top: 8px;
}

a.fa-stack:hover{
  cursor: pointer;
}
a.fa-stack:hover li.text-dark{
  display: inline !important;
  font-size: .85em;
}

.switch-toggle {
  width: 16em;
}

.switch-toggle label:not(.disabled) {
  cursor: pointer;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #d6d6d6;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover:not([disabled]) {
    background-color: #DEF;
}

.custom-menu li[disabled]{
	cursor: default;
	color: #6c7585;
}

/*loading icon styles*/
@keyframes lds-wedges {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-wedges {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-wedges {
  position: relative;
}
.lds-wedges > div > div {
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
  -webkit-animation: lds-wedges 2s linear infinite;
  animation: lds-wedges 2s linear infinite;
  opacity: 0.8;
}
.lds-wedges > div > div > div {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border-radius: 70px 0 0 0;
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
}
.lds-wedges > div div:nth-child(1) > div {
  background: #fcb711;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(1) {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.lds-wedges > div div:nth-child(2) > div {
  background: #f37021;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(2) {
  -webkit-animation-duration: 0.666666666666667s;
  animation-duration: 0.666666666666667s;
}
.lds-wedges > div div:nth-child(3) > div {
  background: #cc004c;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(3) {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.lds-wedges > div div:nth-child(4) > div {
  background: #6460aa;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(4) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.lds-wedges {
  width: 65px !important;
  height: 65px !important;
  -webkit-transform: translate(-32.5px, -32.5px) scale(0.325) translate(32.5px, 32.5px);
  transform: translate(-32.5px, -32.5px) scale(0.325) translate(32.5px, 32.5px);
}

/*rotating styles*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1.5s linear infinite;
  -moz-animation: rotating 1.5s linear infinite;
  -ms-animation: rotating 1.5s linear infinite;
  -o-animation: rotating 1.5s linear infinite;
  animation: rotating 1.5s linear infinite;
}